.about {
  background: linear-gradient(to right, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.1)),
    url(../../assets/About.jpg);
  height: 90vh;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}
.about__Content {
  height: calc(70vh - 80px);
  max-height: 100%;
}
.about__Item {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  max-height: 100%;
  padding: 0 2rem;
  color: #fff;
  text-transform: uppercase;
  line-height: 1;
  font-weight: bold;
}
.about__H1 {
  font-size: clamp(5rem, 10vw, 10rem);
  margin-bottom: 1rem;
  box-shadow: 3px 5px #e9ba23;
  letter-spacing: 3px;
}

.about__video {
  display: flex;
  justify-content: center;
}
.about__left {
  flex: 0.7;
}
