.products {
  min-height: 100vh;
  padding: 5rem calc((100vw - 1300px) / 2);
  background: #150f0f;
  color: #fff;
}
.products__head {
  font-size: clamp(2rem, 2.5vw, 3rem);
  text-align: center;
  margin-bottom: 5rem;
}
.products__Wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0 auto;
}
.products__Card {
  margin: 0 2rem;
  line-height: 2;
  width: 300px;
}
.product__Info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2rem;
  text-align: center;
}
.products__img {
  height: 300px;
  min-width: 300px;
  max-width: 100%;
  box-shadow: 8px 8px #fdc500;
}

.product__Title {
  font-weight: 400;
  font-size: 1.5rem;
}
.product__Desc {
  margin-bottom: 1rem;
}
.product__Price {
  margin-bottom: 1rem;
  font-size: 2rem;
}
.product__Btn {
  background: #e31837;
  font-size: 1rem;
  padding: 1rem 4rem;
  border: none;
  color: #fff;
  transform: 0.2 ease-out;
}
.product__Btn:hover {
  background-color: #ffc500;
  transition: 0.2s ease-out;
  cursor: pointer;
  color: #000;
}
