.review {
  min-height: 60vh;
  background: #150f0f;
  color: #fff;
}
.reviews__head {
  font-size: clamp(2rem, 2.5vw, 3rem);
  text-align: center;
  padding-top: 2rem;
  margin-bottom: 2rem;
}
.reviews__Wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0 auto;
}
.reviews__Card {
  margin: 0 2rem;
  line-height: 2;
  width: 300px;
}
.review__Info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2rem;
  text-align: center;
}

.review__Title {
  font-weight: 400;
  font-size: 1.5rem;
}
.review__Desc {
  margin-bottom: 1rem;
}

.review__Btn {
  background: #e31837;
  font-size: 1rem;
  padding: 1rem 4rem;
  border: none;
  color: #fff;
  transform: 0.2 ease-out;
  border-radius: 1rem;
}
.review__Btn:hover {
  background-color: #ffc500;
  transition: 0.2s ease-out;
  cursor: pointer;
  color: #000;
}
