.home {
  width: 100%;
  height: 100vh;
  background-color: #f9dda4;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.home__title {
  display: flex;
}
.home__h1 {
  font-size: 100px;
  font-weight: 100;
}

.home__scroll_down {
  position: relative;
  top: 350px;
  text-align: center;
}

.MuiSvgIcon-root {
  font-size: 60px !important;
}
