#dot2 {
  position: fixed;
  right: 30px;
  top: 50%;
  transform: translatey(-50%);
}
#dot2 li {
  width: 17px;
  height: 17px;
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 50%;
  margin: 14px 7px;
}
#dot2 li a {
  color: #fff;
  text-decoration: none;
  padding: 8px 15px 5px 15px;
  position: relative;
}
#dot2 li a span {
  opacity: 0;
  position: absolute;
  right: 45px;
  top: 3px;
  background-color: rgba(0, 0, 0, 0.51);
  padding: 8px 10px;
  transition: all 0.3s ease;
}
#dot2 li a span:after {
  content: "";
  position: absolute;
  right: -7px;
  top: 8px;
  border-left: 7px solid rgba(0, 0, 0, 0.51);
  border-top: 7px solid transparent;
  border-bottom: 7px solid transparent;
}
#dot2 li.on {
  background-color: rgba(255, 255, 255, 1);
}
#dot2 li.on a span {
  right: 40px;
}

.nav {
  position: fixed;
  right: 30px;
  top: 50%;
  transform: translatey(-50%);
}
.nav li {
  list-style: none;
  width: 17px;
  height: 17px;
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 50%;
  margin: 14px 7px;
}
.nav li a {
  color: #fff;
  text-decoration: none;
  padding: 8px 15px 5px 15px;
  position: relative;
}

.nav li a span {
  opacity: 0;
  position: absolute;
  top: 0;
  right: 30px;
  padding: 8px 10px;
  transition: all 0.3s ease;
}
.nav li a span:after {
  content: "";
  position: absolute;
  right: -7px;
  top: 8px;
}
.nav li .sibal span {
  opacity: 1 !important;
}
